body {
    font-family: 'Roboto', sans-serif;
}

.caixa{
    background: #4bbedb;
    width: 100%;
    margin: 0 0 3% 0;
}

.logo{
    width: 10%;
    position: relative;
    left: 5%;
}

.login-icon{
    width: 2%;
    position: absolute;
    top: 10%;
    left: 85%;
}

.login-icon:hover {
    cursor:pointer;
}

.carrinho-icon{
    width: 2.3%;
    position: absolute;
    top: 10%;
    left: 80%
}

.carrinho-icon:hover {
    cursor:pointer;
}

.titulo-destaque{
    text-align: center;
    font-size: 2.5em;
    clear: left;    
    text-transform: uppercase;
    font-weight: bold;
}

.caixa-produtos{
    display: flex;
    align-items: center;
    width: 60%;
    background: white;
    border: 3px transparent solid;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 14%), 0px 4px 5px rgba(0, 0, 0, 14%), 0px -2px 8px rgba(0, 0, 0, 14%);
    margin: 5% 20%;
    padding: 1%;
}

.caneca-pascoa{
    width: 1200px;
    height: 400px;
}

.borda-filtro{
    width: 10%;
    background: transparent;
    border: 2px transparent solid;
    border-radius: 10px;  
    margin: 1%;
    padding: 1%;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 14%), 0px 4px 5px rgb(0 0 0 / 12%), 0px 1px 10px rgb(0 0 0 / 20%)
}

.filtro-texto-principal{
    font-size: 20px;
    padding: 5%;
    text-transform: uppercase;
    font-weight: bold;
}

.filtro-texto{
    font-size: 16px;
    padding: 3%;
    text-transform: uppercase;
    font-weight: bold;   
}

.checkbox-filtro{      
    display: block;
    margin: 6% 0;
}

/* FOOTER */
footer{
    position: relative;
    background: #4bbedb;
    width: 100%;
    bottom: 0;
    padding: 40px 0;
}

.logo-footer{
    width: 12%;
    padding: 0 0 0 5%;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
    padding: 0 0 2% 5%;
}

.footer-content button{
    background-color: transparent;
    border: none;
    margin: 0 20px 10px 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
}

.footer-content button:hover {
    cursor:pointer;
}

.pix-logo{
    width: 10%;
}

/* FOOTER */